@charset "UTF-8";

@font-face {
  font-family: "mako";
  src:url("../fonts/icon-font/mako.eot");
  src:url("../fonts/icon-font/mako.svg#mako") format("svg"),
      url("../fonts/icon-font/mako.eot?#iefix") format("embedded-opentype"),
      url("../fonts/icon-font/mako.woff") format("woff"),
      url("../fonts/icon-font/mako.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "mako" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "mako" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-watch:before {
  content: "\61";
}
.icon-edit:before {
  content: "\62";
}
.icon-published:before {
  content: "\63";
}
.icon-unpublished:before {
  content: "\64";
}
.icon-trash:before {
  content: "\65";
}
.icon-calendar:before {
  content: "\66";
}
.icon-add:before {
  content: "\67";
}
.icon-home:before {
  content: "\68";
}
.icon-down:before {
  content: "\6b";
}
.icon-search:before {
  content: "\6c";
}
.icon-bell:before {
  content: "\6d";
}
.icon-file-text:before {
  content: "\6e";
}
.icon-menu:before {
  content: "\6f";
}
.icon-save:before {
  content: "\70";
}
.icon-left:before {
  content: "\71";
}
.icon-right:before {
  content: "\72";
}
.icon-forward:before {
  content: "\73";
}
.icon-backward:before {
  content: "\74";
}
.icon-close:before {
  content: "\75";
}
.icon-target:before {
  content: "\76";
}
.icon-check:before {
  content: "\77";
}
.icon-export-pdf:before {
  content: "\78";
}
.icon-info:before {
  content: "\79";
}
.icon-plus-square:before {
  content: "\7a";
}
.icon-minus-square:before {
  content: "\41";
}
.icon-files:before {
  content: "\42";
}
.icon-lock:before {
  content: "\43";
}
.icon-unlock:before {
  content: "\44";
}
.icon-tag:before {
  content: "\45";
}
.icon-export:before {
  content: "\46";
}
.icon-download:before {
  content: "\47";
}
.icon-print:before {
  content: "\48";
}
.icon-photo:before {
  content: "\49";
}
.icon-arrow-right:before {
  content: "\4a";
}
.icon-arrow-left:before {
  content: "\4b";
}
.icon-attention:before {
  content: "\4c";
}
.icon-coupon:before {
  content: "\4d";
}
.icon-csv-file:before {
  content: "\4e";
}
.icon-discount:before {
  content: "\4f";
}
.icon-give-money:before {
  content: "\50";
}
.icon-id-card:before {
  content: "\51";
}
.icon-improve-incomes:before {
  content: "\52";
}
.icon-invoice:before {
  content: "\53";
}
.icon-pass:before {
  content: "\54";
}
.icon-courses:before {
  content: "\55";
}
.icon-shopping-cart:before {
  content: "\56";
}
.icon-user-list:before {
  content: "\57";
}
.icon-xls-file:before {
  content: "\58";
}
.icon-canceled-shop:before {
  content: "\59";
}
.icon-discount-canceled:before {
  content: "\5a";
}
.icon-pdf-file:before {
  content: "\30";
}
.icon-error:before {
  content: "\31";
}
.icon-exit:before {
  content: "\69";
}
.icon-user:before {
  content: "\6a";
}
.icon-power:before {
  content: "\32";
}
.icon-waiting-list:before {
  content: "\33";
}
.icon-interested-list:before {
  content: "\34";
}
.icon-coupon-add:before {
  content: "\35";
}
.icon-coupon-delete:before {
  content: "\36";
}
