// Guía de estilos - estilos responsive
@media screen and (max-width: 1200px) {
	//Navbar
	.navbar{
		.navbar-header{
			a.navbar-brand{
				margin-left: 0;
			}
		}
	}
}
@media screen and (max-width: 991px) {
	// Navbar
	.navbar{
		.navbar-header{
			a.navbar-brand{
				margin-left: 0;
				background-size: 100% auto;
				height: 38px;
				width: 160px;
			}
		}
	}
	#sec-colores{
		.color-container{
			width: 25%;
		}
	}
	#sec-iconos{
		ul{
			li{
				width: 33.33%;
			}
		}
	}
}
@media screen and (max-width: 768px) {
	// Navbar
	.navbar{
		.navbar-header{
			a.navbar-brand{
				margin-left: $margin;
			}
		}
	}
	.navbar{
		.navbar-collapse{
			float: none;
		}
	}
	#sec-colores{
		.color-container{
			width: 33.33%;
		}
	}
	#sec-iconos{
		ul{
			li{
				width: 50%;
			}
		}
	}
	#sec-tipografia{
		.type{
			.download{
				width: initial;
				margin-bottom: $margin;
			}
		}
	}

}
@media screen and (max-width: 480px) {
	#sec-colores{
		.color-container{
			width: 50%;
			.color{
				width: 150px;
			}
		}
	}
	#sec-iconos{
		.iconos-dashboard{
			li{
				width: 100%;
			}
		}
		.iconos-nav{
			li{
				width: 100%;
			}
		}
	}
	#sec-ui{
		button.btn{
			margin-bottom: $margin;
		}
	}
}