// Guia de estilos - Secciones de la guia de estilos

// Sección - Colores
#sec-colores{
	overflow:hidden;
	.col-md-12{
		overflow: hidden;
	}
	.color-container{
		width: 20%;
		text-align: center;
		float: left;
		margin-bottom: $margin;
		p{
			color: $text-color;
			margin-bottom: 0;
		}
		p.descrip{
			font-size: 12px;
		}
		.color{
			width: 200px;
			height: 144px;
			margin: 0 auto;
			margin-bottom: $margin;
			> div{
				text-align: left;
				padding: 10px;
			}
			.main-color{
				background-color: $main-color;
				border:1px solid #c5c5c5;
				width: 100%;
				height: 100%;
			}
			.second-color{
				background-color: $back-color;
				width: 100%;
				height: 100%;
			}
			.third-color{
				background-color: $highlight-color;
				width: 100%;
				height: 100%;
				p{
					color:$guia-main;
				}
			}
			.fourth-color{
				background-color: $third-color;
				width: 100%;
				height: 100%;
				p{
					color:$guia-main;
				}
			}
			.fifth-color{
				background-color: $text-color;
				width: 100%;
				height: 100%;
				p{
					color:$guia-main;
				}
			}
			.sixth-color{
				background-color: $link-color;
				width: 100%;
				height: 100%;
				p{
					color:$guia-main;
				}
			}
			.seventh-color{
				background-color: $status-active;
				width: 100%;
				height: 50%;
				p{
					color:$guia-main;
				}
			}
			.seventh-color-lighter{
				background-color: lighten($status-active, 40%);
				width: 100%;
				height: 50%;
			}
			.eighth-color{
				background-color: $status-editing;
				width: 100%;
				height: 50%;
				p{
					color:$guia-main;
				}
			}
			.eighth-color-lighter{
				background-color: lighten($status-editing, 30%);
				width: 100%;
				height: 50%;
			}
			.nineth-color{
				background-color:$status-created;
				width: 100%;
				height: 50%;
				p{
					color:$guia-main;
				}
			}
			.nineth-color-lighter{
				background-color: lighten($status-created, 30%);
				width: 100%;
				height: 50%;
			}
			.tenth-color{
				background-color: $status-inactive;
				width: 100%;
				height: 100%;
			}
		}
	}
}

#sec-tipografia{
	.type{
		.ejemplo{
			font-size: 80px;
			font-family: $main-font;
		}
		p{
			color: $guia-text2;
			span{
				color: $guia-text;
				&.bold{
					font-family: $sec-font;
				}
			}
		}
		.download{
			width: 100%;
			margin-top: $margin;
		}
	}
	.titles{
		h1, h2, h3, h4, p{
			font-family: $main-font;
		}
		h1{
			font-size: 24px;
		}
		h2{
			font-size: 22px;
		}
		h3{
			font-size: 20px;
			font-family: $sec-font;
		}
		h4{
			font-size: 14px;
			font-family: $sec-font;
			color: $guia-text;

		}
		p{
			line-height: 22px;
		}
	}
}
#sec-iconos{
	.btn{
		float: none;
	}
	ul{
		list-style: none;
		margin:0;
		padding:0;
		overflow: hidden;
		li{
			width: 25%;
			float: left;
			margin-bottom: $margin;
			overflow: hidden;
			i{
				margin-top: 3px;
				font-size: 18px;
				margin-right: 5px;
				float: left;
			}
			p{
				float: left;
				color:lighten($guia-text, 15%);
				span{
					font-size: 11px;
				}
			}
		}
	}
	.download{
		margin-bottom: $margin*2;
	}
	.iconos-dashboard{
		li{
			min-height: 91px;
			margin-bottom: $margin*2;
			img{
				margin-right: 5px;
			}
		}
	}
	.iconos-nav{
		margin-bottom: $margin*2;
		li{
			min-height: 34px;
			margin-bottom: $margin;
			img{
				margin-right: 5px;
			}
		}
	}
}
#sec-ui{
	.ui{
		margin-bottom: $margin*2;
	}
	.sec-alerts{
		overflow: hidden;
		margin-bottom: $margin*2;
		> div{
			overflow: hidden;
		}
		.alert{
			float: left;
			margin-right: $margin;
		}
	}
	.sec-modal{
		margin-bottom: $margin*2;
		.btn{
			float: none;
		}
		.modal-footer{
			padding-bottom: $padding;
		}
	}
	.sec-notifications{
		margin-bottom: $margin*2;
		margin-right: 0;
		margin-left:  0;
	}
}
#sec-navs{
	
}
