// Estilos de Accordion

#accordion{
	font-family: $main-font;
	.panel{
		border:0;
		box-shadow: none;
		margin-top: 0;
	}
	.panel-heading{
		background-color: initial;
		border-bottom:1px solid lighten($text-color, 40%);
		a{
			color: $text-color;
			line-height: 45px;
			&:hover, &:focus{
				text-decoration: none;
			}
		}
		i{
			font-size: 18px;
			float: right;
			line-height: 45px;
		}
	}
	.panel-body{
		border:0;
	}
}