// Alertas del proyecto

.alert{
    background-color: $highlight-color;
    max-width: 330px;
    min-width: 330px;
    height: auto;
    padding: $padding 10px;
    overflow: hidden;
    i, p, a{
        vertical-align: center;
        line-height: 24px;
    }
    i{
        font-size: 22px;
        display: inline-block;
        float: left;
        margin-right: 5px;
        color: $main-color;
    }
    p{
        color: $main-color;
        float: left;
        width: 80%;
    }
    a{
        float: right;
        width: 20px;
        text-align: right;
        color: $main-color;
        display: block;
        font-size: 20px;
        line-height: 24px;
        margin-top: 3px;
        &:hover, &:focus{
            text-decoration: none;
        }
    }
    &.warning{
        background-color: $status-editing;
    }
    &.error{
        background-color: $status-created;
    }
}
.alert-reading{
    background-color: lighten($status-editing, 35%);
    @include border-radius(4px);
    border: 1px solid $status-editing;
    line-height: 45px;
    text-align: center;
    color: darken($status-editing, 10%);
    font-family: $sec-font;
}
.tooltip{
    color: $text-color;
    opacity: 1;
    position: relative;
    display: inline-block;
    z-index: inherit;
    margin: $margin 0;
    .tooltiptext{
        opacity: 1;
        visibility: visible;
        position: absolute;
        min-width: 100px;
        background-color:$text-color;
        color: $main-color;
        padding:10px 0;
        @include border-radius(5px);
        z-index: 1;
        text-align: center;
        font-family: $main-font;
    }
    .tooltip-top{
        bottom: 125%;
        &:after{
            content: "";
            position: absolute;
            top: 100%;
            left: 50%;
            margin-left: -5px;
            border-width:5px;
            border-style:solid;
            border-color:$text-color transparent transparent transparent;
        }
    }
}
.dropdown-notifications{
    min-width:                      290px;
    padding:                        0;
    width:                          25%; // quitar al pasar al maquetado
    box-shadow:                     0 6px 12px rgba(0,0,0,0.175); // quitar al pasar a maquetado
    border:                         1px solid rgba(0,0,0,0.15); // quitar al pasar a maquetado
    @include                        border-radius(4px); // quitar al pasar a maquetado
    h3{
        margin-top:                 0;
        margin-bottom:              0;
        background:                 $third-color;
        @include                    border-radius(3px 3px 0 0);
        color:                      $main-color;
        font-size:                  13px;
        line-height:                50px;
        padding:                    0 10px;
    }
    ul{
        list-style:                 none;
        margin:                     0;
        padding:                    0;
        li{
            border:                 1px solid #e2e2e2;
            padding:                15px 10px;
            &:last-child{
                border-bottom:      0;
                border-top:         0;
            }
            a{
                color:              $text-color;
                strong{
                    font-family:    $sec-font;
                    font-weight:    normal;
                }
                span{
                    width:          100%;
                    text-align:     right;
                    display:        inline-block;
                    font-size:      12px;
                }
            }
        }
    }
    > a{
        background:                 $back-color;
        display:                    inline-block;
        width:                      100%;
        text-align:                 center;
        line-height:                50px;
        color:                      $third-color;
        @include                    border-radius(0 0 3px 3px);
        i{
            vertical-align:         sub;
        }
    }
}