// Guia de estilos - Botones
.download{
    color: $guia-text !important;
    i{
        margin-left:5px;
    }
    &:hover, &:focus, &:active, &:visited{
        background-color:$guia-main;
        color: $guia-highlight;
    }
}



// Botones del proyecto

    .btn{
        padding: 0 15px;
        line-height: 45px;
        color: $highlight-color;
        float: left; //remove when moves to the project
        margin-right: 5px;
        &:hover, &:focus{
            color: $highlight-color;
            background-color:$main-color;
        }
    }
    .btn-primary{
        background-color: $highlight-color;
        border: 0;
        color: $main-color;
        &:hover, &:focus{
            background-color: darken($highlight-color, 5%);
            color: $main-color;
        }
    }
    .btn-cancel{
        background-color: $text-color;
        border: 0;
        color: $main-color;
        &:hover, &:focus{
            background-color: darken($text-color, 5%);
            color: $main-color;
        }
    }
    .btn-icon{
        font-size: 20px;
        padding-top: 4px;
        line-height: 41px;
        i{
            display:inline-block;
        }
    }
    .btn-link{
        color: $link-color;
        text-decoration: underline;
        &:hover{
            color: $link-color;
        }
    }
    .btn-search{
        background-color:   #98989e;
        padding:            0 20px;
        border:0;
        color:              #fff;
        &:hover, &:focus{
            background-color: #98989e;
            color:             #fff;
        }

    }
    .btn-switch{
        float: left;        
        .switch{
            position:           relative;
            display:            inline-block;
            width:              70px;
            height:             34px;
        }
        input{
            display:            none;
        }
        .slider{
            position:           absolute;
            cursor:             pointer;
            top:                0;
            left:               0;
            right:              0;
            bottom:             0;
            background-color:   #dbdbde;
            @include            border-radius(34px);
            @include            transition(.4s);
            p{
                position:       absolute;
                &.on{
                    left:       4px;
                    top:        7px;
                    color:      $status-active;
                    font-size:  17px;
                }
                &.off{
                    right:      6px;
                    top:        7px;
                    color:      $status-created;
                    font-size:  19px;
                }
            }
            &:before{
                position:       absolute;
                content:        "";
                height:         26px;
                width:          26px;
                left:           4px;
                bottom:         4px;
                background:     #FFF;
                z-index:        1;
                @include        border-radius(50%);
                @include        transition(.4s);
            }
        }
        input:checked + .slider{
            background-color:   #dbdbde;
        }
        input:checked + .slider:before{
            -webkit-transform:  translateX(36px);
            -ms-transform:      translateX(36px);
            transform:          translateX(36px);
        }
    }
