// Formas del proyecto 
.input-element{
    margin-bottom: $margin;
    label{ // todos los labels del formilario
        font-family: $main-font;
        color: $text-color;
        width: 100%;
        span{
            color:$third-color;
        }
    }
    input[type="text"], input[type="search"]{ // todos los inputs de tipo texto
        @include border-radius(4px);
        border:1px solid lighten($text-color, 40%);
        height: 45px;
        width: 100%;
        font-family: $main-font;
        padding: 0 10px;
        &.required{
            border-color:$third-color;
        }
    }
    input[type="search"]{
        background: url(../images/iconos/icon-search.png) no-repeat #fff 10px 50%;
        padding-left: 35px;
    }
    select{ // todos los select
        width: 100%;
        height: 45px;
        font-family: $main-font;
        background: #fff url(../images/iconos/icon-dropdown.png) no-repeat 97% 50%;
        padding: 0 10px;
        border:1px solid lighten($text-color, 40%);
        @include border-radius(4px);
        @include appearance(none);
        &:focus{
            outline: none;
        }
        &.required{
            border-color:$third-color;
        }
    }
    textarea{
        border:1px solid lighten($text-color, 40%);
        @include border-radius(4px);
        width: 100%;
        min-height: 85px;
        resize: none;
        padding: 10px;
        font-family: $main-font;
        &.required{
            border-color:$third-color;
        }
    }
    &.search-members{
        overflow: hidden;
        select{
            min-width: 120px;
            margin-right: -1px;
            float: left;
            width: inherit;
            @include border-radius(4px 0 0 4px);
        }
        input[type="search"]{
            float: left;
            min-width: 340px;
            width: inherit;
            @include border-radius(0 4px 4px 0);
        }
        button{
            float: right;
        }
    }
    &.text, &.select, &.textarea{
        span{
            color: $third-color;
            font-size: 12px;
        }

    }
    &.radio{
        margin:0;
        margin-bottom: $margin;
        input[type="radio"]{
            position: absolute;
            visibility: hidden;
        }
        label{
            display: block;
            position: relative;
            padding: 0 0 0 30px;
            height: 30px;
            z-index: 9;
            cursor: pointer;
            @include transition(.25s);
        }
        .check{
            display: block;
            position: absolute;
            border: 2.5px solid lighten($text-color, 40%);
            border-radius: 100%;
            height: 18px;
            width: 18px;
            top: 0;
            left: 0;
            z-index: 5;
            @include transition(.25s);
            &::before{
                display: block;
                position: absolute;
                content: '';
                border-radius: 100%;
                height: 8px;
                width: 8px;
                top: 2.5px;
                left: 3px;
                margin: auto;
                @include transition(.25s);
                background: lighten($text-color, 40%);
            }
        }
        input[type="radio"]:checked ~ .check{
            border-color: $highlight-color;
            &::before{
                background: $highlight-color;
            }
        }

    }
    &.checkbox{
        input[type="checkbox"] {
            display:none;
            + label{
                padding-left:0;
                span{
                    display:inline-block;
                    width:19px;
                    height:19px;
                    margin:-1px 4px 0 0;
                    vertical-align:middle;
                    background:url(../images/checkbox-sprite.png) left top no-repeat;
                    cursor:pointer; 
                }
            }
            &:checked + label span{
                background:url(../images/checkbox-sprite.png) -19px top no-repeat;
            }
        }
    }
    &.tags{
        input[type="button"]{
            line-height: 25px;
            font-size: 12px;
            text-align: left;
            border:0;
            @include border-radius(2px);
            background: url(../images/iconos/icon-tag.png) #d3d3d3 no-repeat 5px 50%;
            padding-left:$padding;
            color: $main-color;
            &:focus{
                background-color: $highlight-color;
                outline: 0;
            }
        }
    }
    &.calendar{
        max-width: 150px;
        input[type="text"]{
            font-family: $main-font;
        }
        .input-group-addon{
            background-color:$main-color;
            cursor: pointer;
        }
    }
}
.datepicker{
    padding: 10px;
    text-align: center;
    .today{
        background-color: $highlight-color;
        @include border-radius(4px);
        color: $main-color;
    }
}