// Estilos de modales

.modal{
    font-family: $main-font;
    .modal-content{
        box-shadow: none;
        border:0;
    }
    .modal-header{
        padding: $padding 15px;
        h4{
            margin-bottom: 0 !important;
            color: $text-color !important;
            font-family: $sec-font;
        }
    }
    .modal-footer{
        text-align: center;
        border:0;
    }
}