// Guia de estilos - Navegacion


header{
    overflow: hidden;
}
#sidebar-nav{
    border: 2px solid $back-color; // borrar en maquetado
    margin-bottom: $margin; // borrar en maquetado
    .nav{
        li{
            text-align: center;
            a{
                color: $text-color;
                padding-top: 30px;
                padding-bottom: 30px;
                cursor: pointer;
                background: url(../images/icon-nav-arrow.png) no-repeat 95% 50%;
                img{
                    margin-bottom: 10px;
                }
                &:hover{
                    background-color:   #eee;
                }
            }
        }
        li.active{
            a{
                background-color: $back-color;
                border-left: 3px solid $status-active;
            }
        }
    }
}
.navbar{
    padding-top: $padding;
    padding-bottom: $padding;
    //background-color: $guia-fondo;
    background-color: $enova-main;
    .navbar-header{
        margin-right: $margin*2;
        a.navbar-brand{
            background: url(../images/logo-guia.png);
            width: 259px;
            height: 61px;
            display: inline-block;
            text-indent: -99999px;
        }
    }
    .navbar-collapse{
        float: left;
        ul.nav{
            li{
                cursor: pointer;
                &.active{
                    a{
                        color: $enova-sec;
                        background-color:inherit;
                    }
                }
                a{
                    color: $main-color;
                    cursor: pointer;
                    &:hover{
                        color: $enova-sec;
                        background-color:inherit;
                    }
                    &:focus{
                        background-color:inherit;
                    }
                }
            }
        }
    }
}



// Navegación de proyecto
.pagination{
    margin: 0;
    margin-bottom: $margin*2;
    li{
        a{
            color: $highlight-color;
            margin-right: 10px;
            @include border-radius(4px);
            &:hover, &:focus{
                color: $highlight-color;
            }
        }
        &.active{
            a{
                background-color: $highlight-color;
                border-color: $highlight-color;
                &:hover, &:focus{
                    background-color: $highlight-color;
                    border-color: $highlight-color;
                }
            }
        }
    }
}
.breadcrumb{
    background-color: inherit;
    padding-left: 0;
    padding-right: 0;
    font-family: $main-font;
    li{
        a{
            color: $highlight-color;
        }
    }
}