// Estilos de tablas de proyecto

table{
    font-family: $main-font;
    thead{
        font-family: $sec-font;
        th{
            span{
                background: url(../images/icon-down.png) no-repeat 100% 50%;
                display: inline-block;
                padding-right: 20px;
                cursor: pointer;
            }
        }
    }
    .status{
        overflow: hidden;
        span{
            width: 17px;
            height: 17px;
            display: block;
            float: left;
            background-color: $text-color;
            @include border-radius(100%);
            border: 3px solid lighten($text-color, 30%);
            margin-right: 7px;
        }
        &.status-active{
            span{
                background-color: $status-active;
                border-color: lighten($status-active, 40%);
            }
        }
        &.status-editing{
            span{
                background-color: $status-editing;
                border-color: lighten($status-editing, 30%);
            }
        }
        &.status-created{
            span{
                background-color: $status-created;
                border-color: lighten($status-created, 30%);
            }
        }
        &.status-inactive{
            span{
                background-color: lighten($text-color, 30%);
                border-color: lighten($text-color, 48%);
            }
        }
    }
    .actions{
        a{
            font-size: 18px;
            color: $text-color;
            margin: 0 3px;
            &:hover, &:focus{
                text-decoration: none;
                color: $text-color;
            }
        }
        .icon-watch{
            font-size: 20px;
        }
        .icon-disabled{
            color: #cdcdcf;
        }
    }
}