// Estilos de las tabs del proyecto

.tabs{
	font-family: $sec-font;
    .nav-tabs{
    	background: #f4f5f7;
    	li{
    		border-right: 1px solid lighten($text-color, 40%);
    		a{
    			text-transform: uppercase;
    			padding: 30px 30px;
    			color: $text-color;
                cursor: pointer;
    		}
    		&.active{
    			border-right:0;
    		}
    	}
    }
    .tab-content{
        padding-top: $padding;
        font-family: $main-font;
    }
}