// Estilos generales 

::-moz-selection{
	background: 			$guia-highlight;  // personalizar
	color: 					#fff; 
	text-shadow: 			none;
}
::selection{
	background: 			$guia-highlight; // personalizar
	color: 					#fff; 
	text-shadow: 			none;
} 

body{
	color: $guia-text;
	//background: $guia-fondo;
}
#wrapper{
	//border-left:1px solid #c6cad5;
	margin-top: 150px;
	section{
		margin-bottom: $margin*2;
		h4{
			margin-bottom: $margin*2;
			color: $enova-main;
		}
		h5{
			color: $enova-sec;
			margin-bottom: $margin*2;
		}
	}
}