// Se dan de alta las tipografías que se van a utilizar en el proyecto

@font-face {
    font-family: 'opensans-regular';
    src: url('../fonts/open-sans/OpenSans-Regular-webfont.eot');
    src: url('../fonts/open-sans/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/open-sans/OpenSans-Regular-webfont.woff') format('woff'),
         url('../fonts/open-sans/OpenSans-Regular-webfont.ttf') format('truetype'),
         url('../fonts/open-sans/OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'opensans-bold';
    src: url('../fonts/open-sans/OpenSans-Bold-webfont.eot');
    src: url('../fonts/open-sans/OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/open-sans/OpenSans-Bold-webfont.woff') format('woff'),
         url('../fonts/open-sans/OpenSans-Bold-webfont.ttf') format('truetype'),
         url('../fonts/open-sans/OpenSans-Bold-webfont.svg#open_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: "mako";
  src:url("../fonts/icon-font/mako.eot");
  src:url("../fonts/icon-font/mako.eot?#iefix") format("embedded-opentype"),
    url("../fonts/icon-font/mako.woff") format("woff"),
    url("../fonts/icon-font/mako.ttf") format("truetype"),
    url("../fonts/icon-font/mako.svg#mako") format("svg");
  font-weight: normal;
  font-style: normal;
}