// Variables de guia de estilos - no editar
// colores
$guia-main:#fff;
$guia-text: #6f7983;
$guia-text2: #96a2ba;
$guia-highlight: #5f93e7;
$guia-highlight2: #ee3897;
$guia-fondo: #f2f6fa;

$enova-main: #5b157d;
$enova-sec: #59b4d1;

// margenes
$padding: 20px;
$margin: 20px;



// Variables de proyecto que se pueden editar

// Colores
$main-color: #fff; // blanco
$back-color: #eef1f5; // gris de fondo
$highlight-color: #24b13d; // verde
$third-color: #d41146; // rojo
$text-color: #65656b; // gris
$link-color: #15a1db; // azul
$status-active: #51b121;
$status-created: #e43146;
$status-editing: #ecbc16;
$status-inactive: #a2a2a2;

// Tipografía
$main-font:'opensans-regular', Helvetica, Arial;
$sec-font:'opensans-bold', Helvetica, Arial;
$icon-font: 'mako';
